.content {
  display: flex;
  overflow: hidden;
  // min-height: calc(100vh - 74px);
  align-items: center;
  height: 100%;

  h1 {
    font-size: 96px;
    line-height: 1;

    color: $color-neon-blue;
  }

  p {
    font-size: 30px;
    line-height: 1.33;
    color: $color-default-white;
  }
}

.content__title {
  flex-shrink: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content__more {
  background-color: $color-neon-blue;
}
