.loader {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  animation: appear 0.3s;

  transition: $default-transition-settings;
}

.loader.is-fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}

.loader__inner {
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  align-items: center;

  p {
    position: absolute;
    bottom: 10%;
    text-align: center;
    width: 100%;

    font-size: 24px;
    line-height: 0.9;
    animation: fading 2s;
    animation-iteration-count: infinite;
  }
}

.loader__image {
  @include viewport--lg {
    width: 800px;
    height: 100px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.loader.hidden {
  transform: scale(0);
}
